{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phonenumber</th>
                <th>Description</th>
                <th>Email</th>
                <th>Availability</th>
                <th>Specialty</th>
                <th>Specialtydescription</th>
                <th>Skill</th>
                <th>Skilldescription</th>
                <th>Researcherlevel</th>
                <th>Researcherpaycategory</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.phoneNumber }}</td>
                <td>{{ person.description }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.availability }}</td>
                <td>{{ person.specialty }}</td>
                <td>{{ person.specialtyDescription }}</td>
                <td>{{ person.skill }}</td>
                <td>{{ person.skillDescription }}</td>
                <td>{{ person.researcherLevel }}</td>
                <td>{{ person.researcherPayCategory }}</td>
                <td>{{ person.userID }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('person_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
