{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ person.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ person.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ person.availability }}</td>
            </tr>
            <tr>
                <th>Specialty</th>
                <td>{{ person.specialty }}</td>
            </tr>
            <tr>
                <th>Specialtydescription</th>
                <td>{{ person.specialtyDescription }}</td>
            </tr>
            <tr>
                <th>Skill</th>
                <td>{{ person.skill }}</td>
            </tr>
            <tr>
                <th>Skilldescription</th>
                <td>{{ person.skillDescription }}</td>
            </tr>
            <tr>
                <th>Researcherlevel</th>
                <td>{{ person.researcherLevel }}</td>
            </tr>
            <tr>
                <th>Researcherpaycategory</th>
                <td>{{ person.researcherPayCategory }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ person.userID }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
