{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personcompanyroles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Personid</th>
                <th>Companyid</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personCompanyRole in personCompanyRoles %}
            <tr>
                <td><a href="{{ path('personcompanyrole_show', { 'id': personCompanyRole.id }) }}">{{ personCompanyRole.id }}</a></td>
                <td>{{ personCompanyRole.personID }}</td>
                <td>{{ personCompanyRole.companyID }}</td>
                <td>{{ personCompanyRole.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personcompanyrole_show', { 'id': personCompanyRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personcompanyrole_edit', { 'id': personCompanyRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personcompanyrole_new') }}">Create a new Person-Company relationship</a>
        </li>
    </ul>
{% endblock %}
