{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personcompanyrole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personCompanyRole.id }}</td>
            </tr>
            <tr>
                <th>Personid</th>
                <td>{{ personCompanyRole.personID }}</td>
            </tr>
            <tr>
                <th>Companyid</th>
                <td>{{ personCompanyRole.companyID }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ personCompanyRole.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personcompanyrole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personcompanyrole_edit', { 'id': personCompanyRole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
