{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personprojectroles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Personid</th>
                <th>Projectid</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personProjectRole in personProjectRoles %}
            <tr>
                <td><a href="{{ path('personprojectrole_show', { 'id': personProjectRole.id }) }}">{{ personProjectRole.id }}</a></td>
                <td>{{ personProjectRole.personID }}</td>
                <td>{{ personProjectRole.projectID }}</td>
                <td>{{ personProjectRole.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personprojectrole_show', { 'id': personProjectRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personprojectrole_edit', { 'id': personProjectRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personprojectrole_new') }}">Create a new personProjectRole</a>
        </li>
    </ul>
{% endblock %}
