{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personprojectrole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personProjectRole.id }}</td>
            </tr>
            <tr>
                <th>Personid</th>
                <td>{{ personProjectRole.personID }}</td>
            </tr>
            <tr>
                <th>Projectid</th>
                <td>{{ personProjectRole.projectID }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ personProjectRole.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personprojectrole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personprojectrole_edit', { 'id': personProjectRole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
