{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Province</th>
                <th>City</th>
                <th>Postalcode</th>
                <th>Street</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.country }}</td>
                <td>{{ company.province }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.postalCode }}</td>
                <td>{{ company.street }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
