{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Company</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create Company" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
/*!
* country-region-selector
* ------------------------
* 0.4.1
* @author Ben Keen
* @repo https://github.com/benkeen/country-region-selector
* @licence MIT
*/
!function(a,b){if("function"==typeof define&&define.amd)define([],b);else if("object"==typeof exports)try{module.exports=b(require())}catch(c){module.exports=b()}else a.crs=b(a)}(this,function(){"use strict";var a="crs-country",b="Select country",c="Select region",d=!0,e=!0,f=[],g={},h=[["Canada","CA","Alberta~AB|British Columbia~BC|Manitoba~MB|New Brunswick~NB|Newfoundland and Labrador~NL|Northwest Territories~NT|Nova Scotia~NS|Nunavut~NU|Ontario~ON|Prince Edward Island~PE|Quebec~QC|Saskatchewan~SK|Yukon~YT"],["United States","US","Alabama~AL|Alaska~AK|American Samoa~AS|Arizona~AZ|Arkansas~AR|California~CA|Colorado~CO|Connecticut~CT|Delaware~DE|District of Columbia~DC|Florida~FL|Georgia~GA|Guam~GU|Hawaii~HI|Idaho~ID|Illinois~IL|Indiana~IN|Iowa~IA|Kansas~KS|Kentucky~KY|Louisiana~LA|Maine~ME|Maryland~MD|Massachusetts~MA|Michigan~MI|Minnesota~MN|Mississippi~MS|Missouri~MO|Montana~MT|Nebraska~NE|Nevada~NV|New Hampshire~NH|New Jersey~NJ|New Mexico~NM|New York~NY|North Carolina~NC|North Dakota~ND|Northern Mariana Islands~MP|Ohio~OH|Oklahoma~OK|Oregon~OR|Pennsylvania~PA|Puerto Rico~PR|Rhode Island~RI|South Carolina~SC|South Dakota~SD|Tennessee~TN|Texas~TX|Utah~UT|Vermont~VT|Virgin Islands~VI|Virginia~VA|Washington~WA|West Virginia~WV|Wisconsin~WI|Wyoming~WY"]],i=function(){
f=h;for(var b=document.getElementsByClassName(a),c=0;c<b.length;c++)j(b[c])},j=function(a){var c=a.getAttribute("data-crs-loaded");if("true"!==c){a.length=0;var e=a.getAttribute("data-default-option"),f=e?e:b,g=a.getAttribute("data-show-default-option");d=null===g?!0:"true"===g;var h=a.getAttribute("data-default-value"),i=a.getAttribute("data-value"),j=0;d&&(a.options[0]=new Option(f,"")),m();for(var l=p(a),q=0;q<l.length;q++){var r="shortcode"===i||"2-char"===i?l[q][1]:l[q][0];a.options[a.length]=new Option(l[q][0],r),null!=h&&h===r&&(j=q,d&&j++)}a.selectedIndex=j;var s=a.getAttribute("data-region-id");if(!s)return void console.error("Missing data-region-id on country-region-selector country field.");var t=document.getElementsByClassName(s)[0];if(t)if(k(t),a.onchange=function(){o(a,t)},null!==h&&a.selectedIndex>0){o(a,t);var u=t.getAttribute("data-default-value"),v="shortcode"===t.getAttribute("data-value");if(null!==u){var w=d?a.selectedIndex-1:a.selectedIndex,x=l[w][3];n(t,x,u,v)}}else d===!1&&o(a,t);else console.error("Region dropdown DOM node with ID "+s+" not found.");a.setAttribute("data-crs-loaded","true")}},k=function(a){var b=a.getAttribute("data-blank-option"),c=b?b:"-",d=a.getAttribute("data-show-default-option");e=null===d?!0:"true"===d,a.length=0,e&&(a.options[0]=new Option(c,""),a.selectedIndex=0)},l=function(a){var b=a.whitelist+"|"+a.blacklist,c=0;if(!g.hasOwnProperty(b))if(g[b]=[],a.whitelist){var d=a.whitelist.split(",");for(c=0;c<h.length;c++)-1!==d.indexOf(h[c][1])&&g[b].push(c)}else if(a.blacklist){var e=a.blacklist.split(",");for(c=0;c<h.length;c++)-1===e.indexOf(h[c][1])&&g[b].push(c)}var f=[];for(c=0;c<g[b].length;c++)f.push(h[g[b][c]]);return f},m=function(){for(var a=0;a<f.length;a++){for(var b={hasShortcodes:/~/.test(f[a][2]),regions:[]},c=f[a][2].split("|"),d=0;d<c.length;d++){var e=c[d].split("~");b.regions.push([e[0],e[1]])}f[a][3]=b}},n=function(a,b,c,d){for(var f=0;f<b.regions.length;f++){var g=d&&b.hasShortcodes&&b.regions[f][1]?b.regions[f][1]:b.regions[f][0];if(g===c){a.selectedIndex=e?f+1:f;break}}},o=function(a,b){var f=d?a.selectedIndex-1:a.selectedIndex,g=b.getAttribute("data-default-option"),h=b.getAttribute("data-value"),i=g?g:c;if(""===a.value)k(b);else{b.length=0,e&&(b.options[0]=new Option(i,""));for(var j=p(a),l=j[f][3],m=0;m<l.regions.length;m++){var n="shortcode"===h&&l.hasShortcodes?l.regions[m][1]:l.regions[m][0];b.options[b.length]=new Option(l.regions[m][0],n)}b.selectedIndex=0}},p=function(a){var b=a.getAttribute("data-whitelist"),c=a.getAttribute("data-blacklist");return b||c?l({whitelist:b,blacklist:c}):f},q=function(a,b){var c=!1,d=!0,e=a.document,f=e.documentElement,g=e.addEventListener?"addEventListener":"attachEvent",h=e.addEventListener?"removeEventListener":"detachEvent",i=e.addEventListener?"":"on",j=function(d){("readystatechange"!=d.type||"complete"==e.readyState)&&(("load"==d.type?a:e)[h](i+d.type,j,!1),!c&&(c=!0)&&b.call(a,d.type||d))},k=function(){try{f.doScroll("left")}catch(a){return void setTimeout(k,50)}j("poll")};if("complete"==e.readyState)b.call(a,"lazy");else{if(e.createEventObject&&f.doScroll){try{d=!a.frameElement}catch(l){}d&&k()}e[g](i+"DOMContentLoaded",j,!1),e[g](i+"readystatechange",j,!1),a[g](i+"load",j,!1)}};return q(window,i),{init:i}});
</script>
{% endblock %}
