{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Projectname</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Budget</th>
                <th>Status</th>
                <th>Keywords</th>
                <th>Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.projectName }}</td>
                <td>{{ project.description }}</td>
                <td>{% if project.startDate %}{{ project.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ project.endDate }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.keywords }}</td>
                <td>{{ project.media }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
