{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companyprojectroles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Investment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for companyProjectRole in companyProjectRoles %}
            <tr>
                <td><a href="{{ path('companyprojectrole_show', { 'id': companyProjectRole.id }) }}">{{ companyProjectRole.id }}</a></td>
                <td>{{ companyProjectRole.role }}</td>
                <td>{{ companyProjectRole.investment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('companyprojectrole_show', { 'id': companyProjectRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('companyprojectrole_edit', { 'id': companyProjectRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('companyprojectrole_new') }}">Create a new companyProjectRole</a>
        </li>
    </ul>
{% endblock %}
