{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companyprojectrole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ companyProjectRole.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ companyProjectRole.role }}</td>
            </tr>
            <tr>
                <th>Investment</th>
                <td>{{ companyProjectRole.investment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('companyprojectrole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('companyprojectrole_edit', { 'id': companyProjectRole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
